@import "./config/_variables";
@import "./config/_reset";
@import "./components/loader";
@import "./components/nav";
@import "./components/footer.scss";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  // min-height: 150vh;
  -webkit-user-select: none;
  user-select: none;
  font-family: $Qanelas;
}

body {
  background-color: #fff;
  overflow: overlay;
  a {
    color: inherit;
    text-decoration: none;
  }
}

// * {
// 	margin: 0;
// 	padding: 0;
// 	box-sizing: border-box;
// }
*::-webkit-scrollbar {
  width: 20px; /*너비*/
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(206, 206, 206, 0.642);
  background-clip: padding-box;
  border: 6px solid transparent;
  border-radius: 15px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
