@import "./config/_variables";
@import "./config/_reset";
@import "./components/loader";
@import "./components/nav";
@import "./components/footer.scss";

html {
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  @media all and (min-width: 0px) and (max-width: 768px) {
    -webkit-overflow-scrolling: touch;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  min-height: 150vh;
  -webkit-user-select: none;
  user-select: none;
  font-family: $Qanelas;
}

body {
  background-color: rgba(255, 255, 255, 0);
  overflow: overlay;
  a {
    color: inherit;
    text-decoration: none;
  }
}

*::-webkit-scrollbar {
  width: 20px; /*너비*/
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(206, 206, 206, 0.642);
  background-clip: padding-box;
  border: 6px solid transparent;
  border-radius: 15px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
.main-logo {
  display: flex;
  justify-content: center;
  z-index: 12;

  span {
    // color: $dark;
    font-size: $baseFontSize;
    transition: color 1s $mainTransition;
  }
  .logo-m,
  .logo-g {
    font-weight: 900;
  }
  .logo-u {
    font-weight: 500;
  }
}
