@import "../config/_variables.scss";

body {
  &::-webkit-scrollbar {
    display: none;
  }
}
main {
  position: relative;
  display: flex;
  justify-content: center;
  //   align-items: center;
  height: 1200vh;
  background-color: white;
  transition: background-color 0.7s $mainTransition;
}

.intro-scroll-bar {
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.7px;

  .bar-guage {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(white, 0.6);
  }
}
$deviceFrontEdgeColor: rgb(49, 49, 49);
$deviceEdgeColor: rgb(31, 31, 31);

.intro-header {
  position: absolute;

  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    z-index: 12;
    letter-spacing: 4px;
    color: rgba($dark, 0.8);
    font-weight: 400;
    font-size: calc($baseFontSize + 0.95em);
    margin-bottom: 10px;
    @media all and (min-width: 0px) and (max-width: 768px) {
      font-size: $baseFontSize;
    }
  }
  .main-logo {
    span {
      font-size: calc($baseFontSize + 7.8em);
      @media all and (min-width: 0px) and (max-width: 768px) {
        font-size: calc($baseFontSize + 5em);
      }
    }
  }
  .chevrons {
    position: absolute;
    bottom: 31%;

    margin-left: -3px;
    margin-top: 53px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .chevrondown {
    margin-top: -12px;
    position: relative;
    border: solid $dark;
    border-width: 0 3.2px 3.2px 0;
    display: inline-block;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
  }
  .chevrondown:nth-child(odd) {
    animation: pulse 500ms ease infinite alternate;
  }
  .chevrondown:nth-child(even) {
    animation: pulse 500ms ease infinite alternate 250ms;
  }
  @keyframes pulse {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  h6 {
    margin-top: 50px;
  }
  h2 {
    margin-top: 200px;
    text-align: center;
    z-index: 999;
    a {
      color: blueviolet;
      font-weight: 800;
    }
  }
}
.intro-text {
  padding: 0 10px;
  position: fixed;
  z-index: 50; // 필수 // 0
  width: 80%;
  height: 100px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -2%;
  top: 0%;
  transition: all 1s $mainTransition;
  @media all and (min-width: 768px) and (max-width: 1280px) {
    width: 90%;
    left: unset;
  }
  @media all and (min-width: 0px) and (max-width: 768px) {
    width: 100%;
    left: unset;
  }
  &.scene-1 {
    left: -2%;
    top: 15%;
    height: 120px;
    @media all and (min-width: 768px) and (max-width: 1280px) {
      width: 90%;
      left: unset;
      top: 18%;
    }
    @media all and (min-width: 0px) and (max-width: 768px) {
      width: 100%;
      left: unset;
      top: 12%;
    }
  }
  &.scene-2 {
    top: 8%;
    left: unset;
    text-align: center;

    @media all and (min-width: 1920px) and (max-width: 3860px) {
    }
    @media all and (min-width: 768px) and (max-width: 1280px) {
      width: 90%;
      left: unset;
      top: 12%;
    }
    @media all and (min-width: 0px) and (max-width: 768px) {
      width: 100%;
      left: unset;
      top: 12%;
    }
  }
  &.scene-3 {
    top: 8%;
    left: unset;
    text-align: center;

    @media all and (min-width: 1920px) and (max-width: 3860px) {
    }
    @media all and (min-width: 768px) and (max-width: 1280px) {
      width: 90%;
      left: unset;
      top: 15%;
    }
    @media all and (min-width: 0px) and (max-width: 768px) {
      width: 100%;
      left: unset;
      top: 12%;
    }
  }
  &.scene-4 {
    top: 15%;
    left: unset;
    right: 2%;
    text-align: center;
    height: 120px;
    @media all and (min-width: 768px) and (max-width: 1280px) {
      width: 90%;
      right: unset;
      top: 18%;
    }
    @media all and (min-width: 0px) and (max-width: 768px) {
      width: 100%;
      right: unset;
      top: 15%;
    }
  }
  &.scene-5 {
    top: 20%;
    left: unset;
    text-align: center;

    @media all and (min-width: 768px) and (max-width: 1280px) {
      width: 90%;
      top: 25%;
    }
    @media all and (min-width: 0px) and (max-width: 768px) {
      width: 100%;
      top: 25%;
    }
  }
  &.scene-6,
  &.scene-7 {
    z-index: 0;
    left: unset;
    top: 35%;
    width: 85%;
    backdrop-filter: unset;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    @media all and (min-width: 768px) and (max-width: 1280px) {
      width: 90%;
    }
    @media all and (min-width: 0px) and (max-width: 768px) {
      width: 100%;
    }
  }

  p {
    position: relative;
    color: white;
    font-size: calc($baseFontSize + 1.2em);
    font-weight: 500;
    line-height: 1.2;

    // transition: all 1s $mainTransition;
    @media all and (min-width: 768px) and (max-width: 1280px) {
      font-size: calc($baseFontSize + 1.3em);
      text-align: center;
    }
    @media all and (min-width: 0px) and (max-width: 768px) {
      text-align: center;
      font-size: calc($baseFontSize + 0.5em);
    }
  }
}
.intro-device-container {
  perspective: 1300px;
  position: fixed;
  z-index: 15;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s $mainTransition;

  opacity: 0;
  @keyframes show-up {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes show-down {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .monitor-bottom {
    width: 300px;
    height: 158px;
    background-color: rgb(233, 233, 233);
    z-index: 1;
    position: absolute;
    bottom: -85px;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: all 1.5s $mainTransition;
    transform: translateY(100%);
    @media all and (min-width: 1920px) and (max-width: 3860px) {
      bottom: 180px;
    }
    @media all and (min-width: 768px) and (max-width: 1280px) {
      bottom: 70px;
    }
    .monitor-bottom-prop {
      position: absolute;
      width: 135%;
      height: 10px;
      background-color: rgb(233, 233, 233);
      bottom: 0;
    }
  }
  &.scene-1 {
    transform: translateY(30%) scale(1.1);
    @media all and (min-width: 1920px) and (max-width: 3860px) {
      transform: translateY(35%) scale(1.3);
    }
    @media all and (min-width: 768px) and (max-width: 1280px) {
      transform: translateY(35%) scale(1.03);
    }
    @media all and (min-width: 0px) and (max-width: 768px) {
      transform: translateY(25%) scale(1.1) translateX(5%);
    }
  }
  &.scene-2 {
    transform: scale(0.9) translateY(14%);
    @media all and (min-width: 1920px) and (max-width: 3860px) {
      transform: scale(1) translateY(14%);
    }
  }
  &.scene-3 {
    transform: scale(1.3) translateY(25%);
    @media all and (min-width: 1920px) and (max-width: 3860px) {
      transform: scale(1.2) translateY(17%);
    }
    @media all and (min-width: 0px) and (max-width: 768px) {
      transform: scale(0.9) translateY(14%);
    }
  }
  &.scene-4 {
    transform: translateY(25%) scale(1.1);

    @media all and (min-width: 1920px) and (max-width: 3860px) {
      transform: scale(1.3) translateY(17%);
    }
    @media all and (min-width: 768px) and (max-width: 1280px) {
      transform: translateY(35%) scale(1.03);
    }
    @media all and (min-width: 0px) and (max-width: 768px) {
      transform: translateY(25%) scale(1.1) translateX(-5%);
    }
  }
  &.scene-5 {
    transition: transform 1s $mainTransition;
    transform: scale(0.38) translateY(270px);
    .monitor-bottom {
      opacity: 1;
      transform: translateY(0%);
    }
    & ~ .responsive-animation-container {
      opacity: 1;
      transform: translateY(0%);
      @media all and (min-width: 0px) and (max-width: 768px) {
        opacity: 1;
        transform: translateY(7%) scale(0.52);
      }
    }
  }

  &.scene-6,
  &.scene-7 {
    z-index: 0;
    opacity: 0;
    @media all and (min-width: 0px) and (max-width: 768px) {
      transform: scale(0.6) translateY(-40px);
    }
  }
}
.intro-device {
  border: 30px solid $deviceFrontEdgeColor;
  border-width: 5px 7px;
  border-radius: 20px;
  //   margin: 50px auto;
  overflow: hidden;
  transition: all 1s $mainTransition;
  background-color: transparent;

  position: relative;

  width: 1200px;
  height: 680px;

  z-index: 1;
  &.scene-1 {
    transform: rotateX(0deg) rotateY(-30deg) rotateZ(0deg);
    box-shadow: 13px 18px 30px 15px rgba(0, 0, 0, 0.3);
  }
  &.scene-2,
  &.scene-3 {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.3);
    // box-shadow: 0px 3px 0 $deviceEdgeColor, 0px 4px 0 $deviceEdgeColor,
    //   0px 5px 0 $deviceEdgeColor, 0px 7px 0 $deviceEdgeColor, 0px 10px 20px #666;
  }
  &.scene-4 {
    transform: rotateX(0deg) rotateY(30deg) rotateZ(0deg);
    box-shadow: 13px 18px 30px 15px rgba(0, 0, 0, 0.3);
    // box-shadow: 0px 3px 0 $deviceEdgeColor, 0px 4px 0 $deviceEdgeColor,
    //   0px 5px 0 $deviceEdgeColor, 0px 7px 0 $deviceEdgeColor, 0px 10px 20px #666;
  }
  &.scene-5 {
    border: none;
    height: 760px;
    transition: all 1.5s $mainTransition;
    position: fixed;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    box-shadow: 0px 10px 35px 5px rgba(0, 0, 0, 0.3);
    video {
      display: none;
    }
    .monitor {
      opacity: 1;
    }
    @media all and (min-width: 0px) and (max-width: 768px) {
      transform: scale(0.65) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
        translateY(23%);
    }
  }
  &.scene-6 {
    width: 320px;
    height: 80px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc($baseFontSize + 1em);
    font-weight: 700;
    color: $dark;
    background-color: white;

    cursor: pointer;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.3);
    transition: all 1s $mainTransition;
    &::before {
      content: "See All Exhibitions";
    }
    &:hover {
      background-color: $dark;
      color: white;
      transition: all 0.3s $mainTransition;
      transform: scale(1.1);
    }
    video {
      display: none;
    }
  }

  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .monitor {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    border: 0.625em solid $dark;
    border-radius: 0.625em;
    border: 1.25em solid $dark;
    margin: 0 auto;
    z-index: 1;
    transition: opacity 1.5s $mainTransition;
    box-shadow: 0 8px 25px 5px rgba(0, 0, 0, 0.2);
    & > div {
      position: absolute;
    }

    .content {
      width: 26.25em;
      height: 15em;
      left: 50%;
      top: 30%;
      margin-left: -13.125em;
      overflow: hidden;
      transform: scale(3);

      .browser {
        width: 15em;
        height: 11.25em;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -5.625em 0 0 -7.5em;
        border-top: 1.25em solid rgba($dark, 0.5);
        border-radius: 0.313em;
        box-shadow: 0px 5px 25px 5px rgba(0, 0, 0, 0.13);
      }

      .browser-content {
        overflow: hidden;
        height: 9.938em;
      }

      .btns {
        position: absolute;
        top: -1.25em;
        left: 0.438em;

        & > li {
          display: inline-block;
          vertical-align: middle;
          list-style: none;
          width: 0.313em;
          height: 0.313em;
          border-radius: 0.313em;
          background: white;
          margin-right: 0.25em;
        }
      }

      .btns:before {
        content: "";
        position: absolute;
        left: 2.188em;
        top: 0.313em;
        height: 0.625em;
        width: 11.563em;
        background: white;
        border-radius: 3px;
      }
    }
  }
}

.intro-marquee-container {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.8s $mainTransition;

  .intro-marquee-block-container-sideblur {
    transition: box-shadow 0.7s $mainTransition;
    z-index: 11;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    &.white-blur {
      box-shadow: inset 0px 0px 80px 220px white;
    }
    &.dark-blur {
      box-shadow: inset 0px 0px 80px 220px $dark;
    }
    @media all and (min-width: 1920px) and (max-width: 3860px) {
      &.white-blur {
        box-shadow: inset 0px 0px 80px 290px white;
      }
      &.dark-blur {
        box-shadow: inset 0px 0px 80px 290px $dark;
      }
    }
    @media all and (min-width: 0px) and (max-width: 768px) {
      display: none;
    }
  }
  .intro-marquee-block-container {
    z-index: 10;
    overflow: hidden;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .intro-marquee-block {
      --total-marquee-items: 5;
      height: 30%;
      width: calc(300px * (var(--total-marquee-items)));
      overflow: hidden;
      transform: translateY(0%);
      box-sizing: border-box;
      position: relative;
      margin: 10px auto;
      @media all and (min-width: 1920px) and (max-width: 3860px) {
        width: calc(438px * (var(--total-marquee-items)));
      }
      .intro-marquee-inner {
        display: block;
        width: 200%;
        position: absolute;
        height: 100%;
        &.to-left {
          animation: marqueeLeft 35s linear infinite;
        }
        &.to-right {
          animation: marqueeRight 35s linear infinite;
        }

        @keyframes marqueeLeft {
          0% {
            left: 0;
          }
          100% {
            left: -100%;
          }
        }
        @keyframes marqueeRight {
          0% {
            left: -100%;
          }
          100% {
            left: 0;
          }
        }

        span {
          // float: left;
          width: 50%;
          height: 100%;

          .intro-marquee-item {
            opacity: 0.3;
            border-radius: 15px;
            overflow: hidden;
            filter: saturate(0);
            width: 220px;
            height: 100%;
            display: inline-block;
            margin: 0 10px;
            float: left;
            transition: all 0.2s ease-out;
            &.to-right-item {
              float: right;
            }
            @media all and (min-width: 1920px) and (max-width: 3860px) {
              width: 380px;
            }

            img {
              background-color: white;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}

// // // //

$white: #f8f8f8;
$grey-light: #e8ebf0;
$grey: #e8ebf0;
$grey-dark: #d8dbe1;

.responsive-animation-container {
  position: fixed;
  width: 100vw;
  height: 50vh;
  z-index: 15;
  top: 43.5%;
  opacity: 0;
  transition: all 1.5s $mainTransition;
  transform: translateY(100%);
  @media all and (min-width: 0px) and (max-width: 768px) {
    top: 43%;
  }
}

.screen {
  .txt {
    margin: 0.625rem auto;
    width: 85%;
    text-align: center;
    font-size: 0;
    animation: scroll 4s 1s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
    @keyframes scroll {
      20%,
      60% {
        transform: translateY(-62%);
      }
      80% {
        margin-top: -50px;
      }
    }
    & > .third {
      height: 2.25em;
      width: 30%;
      margin-right: 5%;
      display: inline-block;
    }

    & > li {
      box-shadow: 0 3px 15px 2px rgba(0, 0, 0, 0.17);
      width: 100%;
      height: 0.938em;
      margin-bottom: 0.363em;
      font-size: 1rem;
    }
    & > li.big {
      height: 3.75em;
    }
    & > li:nth-child(5),
    & > li:nth-child(10),
    & > li:nth-child(13),
    & > li:nth-child(18),
    & > li:nth-child(21) {
      margin-right: 0;
    }
  }
}

.laptop {
  width: 14.688em;
  height: 9.688em;
  background: white;
  border: 0.75em solid $dark;
  border-radius: 0.625em 0.625em 0 0;
  position: absolute;
  //bottom: -5em;
  top: 14.5em;
  right: 1.875em;
  right: 49%;
  margin-right: -19.5em;

  & > div {
    position: absolute;
  }
  .screen {
    border-radius: 15px;
    width: 13.188em;
    height: 8.188em;
    left: 0;

    overflow: hidden;
  }

  .btm {
    width: 18.5em;
    height: 0.625em;
    bottom: -1.188em;
    left: 50%;
    margin-left: -9.25em;
    border-radius: 0 0 20px 20px;
    background: rgb(202, 202, 202);
    z-index: 1;
  }
}

.phone {
  width: 4.825em;
  height: 8.75em;
  position: absolute;

  top: 15.75em;

  left: 48.3%;
  margin-left: -20.5em;
  border-radius: 0.5em;
  background: $dark;
  border: 1.563em solid $dark;
  border-left: 0.313em solid $dark;
  border-right: 0.313em solid $dark;

  .phone-notch {
    position: absolute;
    z-index: 5;
    width: 63%;
    left: 12.3px;
    height: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    top: -19px;
    background-color: $dark;
  }
  .screen {
    width: 4.2em;
    height: 8em;
    border-radius: 5px;
    top: -1.17em;
    position: relative;
    overflow: hidden;
    background: #fff;
  }
  .txt {
    animation: scroll 4s 1s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
    & > li {
      height: 1.125em;
    }
  }
}

.screen .txt > li.txt-half {
  width: 46%;
  margin-right: 8%;
  display: inline-block;

  &:nth-of-type(even) {
    margin-right: 0;
  }
}

.ipad {
  width: 8.75em;
  height: 12.75em;
  position: absolute;
  //bottom: -5em;
  top: 11.7em;

  left: 48.8%;
  margin-left: -15.5em;
  border-radius: 0.5em;
  background: $dark;
  border: 1.563em solid $dark;
  border-left: 0.313em solid $dark;
  border-right: 0.313em solid $dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  .ipad-btn {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    bottom: -17px;
  }
  .screen {
    width: 8em;
    height: 9.8em;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: #fff;
  }

  li.txt-half {
    height: 35px;
  }
}
