@import "../config/_variables.scss";

body {
  color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo,
h1,
h2 {
  margin: 0;
  line-height: 1;
  font-weight: 500;
}

p {
  margin: 0;
}
.stage {
  position: relative;
  background: None;
  visibility: hidden;
}

// intro

.intro,
.footer {
  height: 100vh;
}

.intro {
  position: relative;
  padding: 5vw;
  background: $dark;
  background-image: url("https://payload.cargocollective.com/1/15/509014/7867464/CFSN-installation-view-mont_1340_c.jpg");
  background-size: cover;
  overflow: hidden;

  .intro__content {
    position: absolute;
    right: 5%;
    top: 17%;
    z-index: 3;

    @media all and (max-width: 768px) {
      right: auto;
    }

    .intro__title {
      font-size: 25vw;
      overflow: hidden;
      letter-spacing: -1vw;
      text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.728);
      // padding-right: 2.3vw;
      padding: 3vw;
      @media all and (max-width: 768px) {
        margin-bottom: 5vh;
      }
    }

    .intro__txt {
      max-width: 35vw;
      margin-left: 25vw;
      font-size: 17px;
      line-height: 1.5;
      @media all and (max-width: 768px) {
        max-width: 80vw;
        margin-left: 5vw;
      }
    }
  }

  .intro__img {
    position: absolute;
    width: 100%;
    max-width: 480px;
    height: auto;
    box-shadow: 0px 0px 62px rgba(0, 0, 0, 0.718);

    @media all and (max-width: 768px) {
      width: 75vw;
    }
  }

  .intro__img--1 {
    z-index: 2;

    left: 5%;
    bottom: 14%;

    @media all and (max-width: 768px) {
      // top: 15vh;
      left: 50%;
      bottom: 50vh;
    }
  }

  .intro__img--2 {
    z-index: 1;
    left: 17%;
    top: 9%;
    // bottom: 20%;

    @media all and (max-width: 768px) {
      // top: 2vh;
      left: 70%;
      bottom: 60vh;
    }
  }
}

// slide

.slide {
  display: flex;
  align-items: stretch;
  height: 100vh;
  overflow: hidden;

  &:nth-of-type(even) {
    background: $dark;
  }

  @media all and (max-width: 768px) {
    display: block;
    position: relative;
  }
}

// col

.col {
  // flex-basis: 50%;

  @media all and (max-width: 768px) {
    display: block;
    width: 100%;
    height: 100vh;
  }
}

.col--1 {
  width: 65%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  @media all and (max-width: 768px) {
    position: relative;
    z-index: 1;
  }
}

.col--2 {
  width: 35%;
  position: relative;
  overflow: hidden;

  @media all and (max-width: 768px) {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
  }
}

// col content

.col__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  height: 100%;
  padding: 6vw 6vw 2vw;
  @media all and (max-width: 768px) {
    width: 80%;
  }
}

.col__content--blur::before,
.into--blur::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  z-index: 0;
  filter: blur(6px);
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
}
.col__content--1 {
  background: $dark;
  background: url("https://files.ocula.com/anzax/c1/c181f7f7-e920-49d8-9245-213581da80c2_2000_1333.jpg");
  background-size: cover;
  @media all and (max-width: 768px) {
    background: rgba($dark, 0.9);
  }
}

.col__content--2 {
  background: $dark;
  background: url("https://files.ocula.com/anzax/c6/c61ef48b-0992-4e6b-baa5-f11226c0cde0_2000_1333.jpg");
  background-size: cover;
  @media all and (max-width: 768px) {
    background: rgba($dark, 0.9);
  }
}

.col__content--3 {
  background: $dark;
  background: url("https://files.ocula.com/anzax/4a/4a4b681f-7993-43ab-8151-32c24c6d0c1b_704_469.jpg");
  background-size: cover;
  @media all and (max-width: 768px) {
    background: rgba($dark, 0.9);
  }
}

.col__content--4 {
  background: $dark;
  background: url("https://files.ocula.com/anzax/03/03cfdf5e-4927-4122-9233-bcc21137c7a1_704_469.jpg");
  @media all and (max-width: 768px) {
    background: rgba($dark, 0.9);
  }
}

.col__content--5 {
  background: $dark;
  background: url("https://files.ocula.com/anzax/75/7535b747-f111-4ce4-b642-284ae0bd99e6_704_469.jpg");
  background-size: cover;
  @media all and (max-width: 768px) {
    background: rgba($dark, 0.9);
  }
}

.col__content--6 {
  background: $dark;
  background: url("https://files.ocula.com/anzax/e9/e9e083c9-4182-41c7-b51d-2cb37bd1e92d_704_469.jpg");
  background-size: cover;
  @media all and (max-width: 768px) {
    background: rgba($dark, 0.9);
  }
}

//

.col__content-title {
  // margin: 0 0 2vw;
  margin-bottom: 2.7vw;
  font-size: 5vw;
  letter-spacing: -0.2vw;

  @media all and (max-width: 768px) {
    margin: 0 0 6vw;
    font-size: 18vw;
  }
}

.col__content-wrap {
  font-size: 0.85vw;
  font-family: $nexongothic;
  letter-spacing: 0.01vw;
  display: flex;
  justify-content: center;
  align-items: center;
  @media all and (max-width: 768px) {
    flex-direction: column;
  }
  position: absolute;
  left: -42px;
}

.col__content-txt {
  max-width: 24vw;
  order: 2;
  // margin-left: 32px;
  @media all and (max-width: 768px) {
    order: 1;
    max-width: 40vw;
    margin: 0 0 10vw 10vw;
  }
}

.slide-link {
  position: relative;
  order: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 75px;
  // height: 53px;
  margin-right: 13px;

  > * {
    pointer-events: none;
  }

  @media all and (max-width: 768px) {
    order: 2;
    align-self: flex-end;
  }
}

.slide-link__circ {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 9px solid $white;
}

.slide-link__line {
  position: absolute;
  // top: 25px;
  // left: 0;
  width: 70px;
  height: 3px;
  background: $white;
}

.line {
  overflow: hidden;

  &:nth-of-type(even) {
    margin-top: -1vw;
  }
}

.line__inner {
  display: block;
}
.line__inner:nth-of-type(2) {
  font-size: 1.5vw;
  letter-spacing: -0.03vw;
  margin-bottom: 0.95vw;
}

.slide__scroll-link {
  position: absolute;
  right: 43px;
  bottom: 9.5vw;
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 9px solid $white;

  // overflow: hidden;

  @media all and (max-width: 768px) {
    display: none;
  }
}

.slide__scroll-line {
  width: 0;
  border: 1.3px solid white;
  position: absolute;
  left: 6px;
  bottom: 0px;
  height: 68px;
}

.slide--0 {
  .slide__scroll-line {
    background: $white;
  }
}

.slide--1 {
  .slide__scroll-line {
    background: $white;
  }
}

.slide--2 {
  .slide__scroll-line {
    background: $white;
  }
}

.slide--3 {
  .slide__scroll-line {
    background: $white;
  }
}

.slide--4 {
  .slide__scroll-line {
    background: $white;
  }
}

.slide--5 {
  .slide__scroll-line {
    background: $white;
  }
}

.slide--6 {
  .slide__scroll-line {
    background: $white;
  }
}

// col image
.col__image-wrap {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 160vh;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

// footer

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $dark;
}

.footer__link {
  font-size: 5vw;
  color: $white;
  text-decoration: none;
  // font-family:$nexongothic;
  font-family: $garamond;
}

.footer__link-top {
  position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background: $dark;
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-family: $nexongothic;
}

.footer__link-top-line {
  position: absolute;
  top: -50px;
  left: 50%;
  width: 1px;
  height: 50px;
  background: $dark;
}

.footer__copyright {
  position: absolute;
  left: 50%;
  bottom: 24px;
  transform: translateX(-50%);
}
