@import "../config/_variables";

body {
  background: white;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  -webkit-user-drag: none;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.update-info-container {
  width: 100%;
  height: 10%;
  position: fixed;
  top: 9%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .update-spinner {
    margin-bottom: 1.4%;
    width: 20px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: calc($baseFontSize + 0.35em);
      animation: spin 1s linear 0s infinite;
      @keyframes spin {
        from {
          transform: rotate(0);
        }
        to {
          transform: rotate(359deg);
        }
      }
    }
  }
  .update-infos {
    display: flex;
    justify-content: space-between;
    width: 44%;

    h1 {
      font-size: calc($baseFontSize);
      width: 100%;
      display: flex;
      justify-content: center;

      text-align: center;
    }
    @media all and (min-width: 768px) and (max-width: 1280px) {
      width: 60%;
      h1 {
        font-size: calc($baseFontSize - 0.1em);
      }
    }
    @media all and (min-width: 0px) and (max-width: 768px) {
      width: 95%;
      h1 {
        font-size: calc($baseFontSize - 0.2em);
      }
    }
  }
}
.main-section-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-card-section-container {
  width: 100%;
  height: 100%;
  transition: padding-top 0.5s ease-in-out;
  padding: 0 20px;
  .main-card-mix-container {
    width: 100%;
    height: 100%;
    z-index: 99;
  }
  .mix {
    display: none;
    width: 18.4%;
    margin: 2% 0.8%;
    transition: width 0.6s ease-in-out;
    position: relative;

    @media all and (min-width: 768px) and (max-width: 1280px) {
      width: 23.35%;
    }
    @media all and (min-width: 0px) and (max-width: 768px) {
      width: 48%;
    }
  }
  .main-card-detail-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 100;

    &.main-card-clicked {
      display: flex;
      animation: blur-on 1s forwards;
      @keyframes blur-on {
        from {
          backdrop-filter: blur(0px);
          background-color: rgb(0, 0, 0, 0);
        }
        to {
          backdrop-filter: blur(8px);
          background-color: rgb(0, 0, 0, 0.7);
        }
      }
    }
  }
  .main-card-container {
    width: 100%;
    height: 400px;
    transition: all 1s $mainTransition, transform 0.2s $mainTransition;
    opacity: 1;

    position: relative;
    top: 0;
    left: 0;
    box-shadow: $mainSectionCardShadow;
    border-radius: 25px;
    overflow: hidden;
    will-change: width, height, top, left;
    display: flex; //
    flex-direction: column; //

    // background: rgb(53, 53, 53) center center no-repeat;
    // background-size: cover;
    filter: blur(8px);

    &.card-image-loaded {
      filter: none;
      transition: all 1s $mainTransition, transform 0.2s $mainTransition,
        filter 4s $mainTransition;
    }

    &.main-card-clicked {
      display: flex;
      flex-direction: column;
      width: 80vw;
      height: 90vh;
      box-shadow: none;
      background-color: transparent;

      @media all and (min-width: 0px) and (max-width: 768px) {
        // padding-top: 25%;
        margin-top: 28%;
      }
    }
    &.hoverable {
      &:hover {
        transform: scale(1.02);
      }
    }

    @media all and (min-width: 768px) and (max-width: 1280px) {
      height: 360px;
    }
    @media all and (min-width: 410px) and (max-width: 768px) {
      height: 270px;
    }
    @media all and (min-width: 0px) and (max-width: 410px) {
      height: 250px;
    }

    .main-card {
      width: 100%;
      height: 100%;
      cursor: pointer;

      position: relative;
      overflow: hidden;
      transition: all 1s ease-in-out;
      &.main-card-clicked {
        border-radius: 25px;
        height: 40%;
      }
      .main-card-image {
        width: 100%;
        height: 100%;
        position: absolute;
        // background-color: rgb(53, 53, 53);
        background: rgb(53, 53, 53) center center no-repeat;
        background-size: cover;
        opacity: 0;
        top: 0;
        left: 0;
        right: 0;
        filter: saturate(0);
        transition: filter 1s $mainTransition;
        &:hover {
          filter: saturate(1);
        }
        &.main-card-clicked {
          filter: saturate(1);
        }
        &.card-image-loaded {
          animation: fadeOn 1s $mainTransition forwards;
          @keyframes fadeOn {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
        }
        img.card-image {
          opacity: 0;
        }

        .main-card-extra-btn {
          position: absolute;

          right: 2%;
          top: 5%;
          padding: 10px;
          width: 30px;
          height: 30px;
          box-shadow: 0 0 15px 5px rgb(0, 0, 0, 0.05);
          font-size: $baseFontSize;
          background-color: white;
          border-radius: 50%;

          opacity: 0;
          cursor: pointer;

          transition: all 0.3s $mainTransition, opacity 0.5s ease-in-out;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            transform: scale(1.2);
            background-color: $dark;
            color: white;
          }
          &.main-card-clicked {
            opacity: 1;
          }
        }
      }

      .main-card-category-icon {
        background-color: white;
        box-shadow: 0 4px 20px 5px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        z-index: 10;
        position: absolute;
        top: 4%;
        left: 4%;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;

        transition: opacity 1s ease-in-out;
        &.card-image-loaded {
          opacity: 1;
        }
        &.main-card-clicked {
          opacity: 0;
        }
      }
      .main-card-country-icon {
        background-color: white;
        box-shadow: 0 4px 20px 5px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        z-index: 10;
        position: absolute;
        top: 4%;
        right: 4%;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;

        transition: opacity 1s ease-in-out;
        &.card-image-loaded {
          opacity: 1;
        }
        &.main-card-clicked {
          opacity: 0;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .main-card-sub-floater {
      width: 100%;
      height: 50px;
      background-color: tomato;
      z-index: 900;
      position: relative;
    }
    .main-card-detail-container {
      width: 100%;
      display: none;
      opacity: 0;
      transition: all 1s ease-in-out;
      height: 100%;
      padding: 1% 1%;
      text-shadow: 0px 3px 13px rgba(0, 0, 0, 0.3);
      &.main-card-clicked {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        opacity: 0;
        animation: show-on 1s ease-in-out forwards;
        animation-delay: 500ms;
        @keyframes show-on {
          from {
            height: 0%;
            opacity: 0;
          }
          to {
            height: 60%;
            opacity: 1;
          }
        }
      }

      .detail-info-title {
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1% 0;
        border-bottom: 2px solid white;
        @media all and (min-width: 0px) and (max-width: 768px) {
          margin-top: 3%;
        }
        h1 {
          font-size: calc($baseFontSize + 1.2em);
          font-weight: 600;
          text-align: center;
          color: white;
          margin: 0 0.5%;
          position: relative;
          top: 5%;

          @media all and (min-width: 768px) and (max-width: 1280px) {
            font-size: calc($baseFontSize + 0.6em);
          }
          @media all and (min-width: 0px) and (max-width: 768px) {
            font-size: calc($baseFontSize + 0.4em);
          }
        }
      }
      .detail-info-rest {
        width: 100%;
        height: 85%;
        display: flex;
        margin-top: 1%;
        .detail-info-left {
          width: 70%;
          height: 100%;
          @media all and (min-width: 768px) and (max-width: 1280px) {
            width: 60%;
          }
          @media all and (min-width: 0px) and (max-width: 768px) {
            width: 50%;
          }
          .detail-info-detail {
            width: 100%;
            height: 100%;
            overflow-y: auto;

            p {
              color: white;
              font-size: calc($baseFontSize + 0.3em);
              line-height: 1.4;
              padding: 0 5%;

              @media all and (min-width: 768px) and (max-width: 1280px) {
                font-size: calc($baseFontSize + 0.1em);
              }
              @media all and (min-width: 0px) and (max-width: 768px) {
                font-size: calc($baseFontSize - 0.1em);
              }
            }
          }
        }
        .detail-info-right {
          width: 30%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          @media all and (min-width: 768px) and (max-width: 1280px) {
            width: 40%;
          }
          @media all and (min-width: 0px) and (max-width: 768px) {
            width: 50%;
          }

          h1 {
            color: white;
            font-size: calc($baseFontSize + 0.3em);
            margin-left: 2%;

            @media all and (min-width: 768px) and (max-width: 1280px) {
              font-size: calc($baseFontSize + 0.1em);
            }
            @media all and (min-width: 0px) and (max-width: 768px) {
              font-size: calc($baseFontSize - 0.1em);
            }
          }
          .icon-box {
            width: 30px;
            height: 30px;
            display: flex;
            margin-right: 1%;
            justify-content: center;
            align-items: center;
            i {
              font-size: calc($baseFontSize + 0.2em);
              color: white;
              @media all and (min-width: 768px) and (max-width: 1280px) {
                font-size: calc($baseFontSize);
              }
              @media all and (min-width: 0px) and (max-width: 768px) {
                font-size: calc($baseFontSize - 0.1em);
              }
            }
          }
          .detail-info-hall,
          .detail-info-date,
          .detail-info-category,
          .detail-info-link {
            width: 100%;
            height: 10%;
            display: flex;
            align-items: center;
            margin: 0.5% 0;
            @media all and (min-width: 0px) and (max-width: 410px) {
              height: 7%;
            }
          }

          .detail-info-country {
            width: 100%;
            height: 76%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 100px;
              height: 100px;
              object-fit: cover;
              @media all and (min-width: 768px) and (max-width: 1280px) {
                width: 90px;
                height: 90px;
              }
              @media all and (min-width: 0px) and (max-width: 768px) {
                width: 70px;
                height: 70px;
              }
            }
          }
          .detail-info-link {
            a {
              width: 70%;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 2px solid white;
              color: white;
              padding: 3px 0;
              border-radius: 50px;
              transition: all 0.5s $mainTransition;
              transform: scale(0.95);
              cursor: pointer;
              &:before {
                content: "Visit Detail Page";
              }
              &:hover {
                &:before {
                  content: "";
                }
                &:after {
                  content: "GO";
                }
                background-color: white;
                color: $dark;
                transform: scale(0.98);
              }
            }
          }
          //
        }
      }
    }
  }
}

.main-card-info-floater {
  height: 70px;
  position: fixed;
  bottom: 2%;
  border-radius: 15px;
  z-index: 999;
  overflow: hidden;
  display: flex;
  opacity: 0;
  visibility: visible;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  padding: 0.5% 1%;
  box-shadow: 0 10px 15px 4px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease-in-out, visibility 0.5s ease-in-out;
  @media all and (min-width: 1280px) and (max-width: 3860px) {
    width: 60%;
  }
  @media all and (min-width: 768px) and (max-width: 1280px) {
    width: 75%;
    height: 65px;
  }
  @media all and (min-width: 0px) and (max-width: 768px) {
    width: 92%;
    height: 60px;
    .floater-subtitle {
      font-size: calc($baseFontSize - 0.2em);
    }
  }

  h1 {
    color: black;
  }

  &.main-card-clicked {
    visibility: hidden;
  }
  .floater-img {
    width: 6%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }
  .floater-info {
    width: 94%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .floater-subtitle {
      width: 100%;
      height: 35%;
      border-bottom: 2px solid black;
      display: flex;
      justify-content: space-evenly;
      .floater-subtitle-col {
        width: 100%;
        height: 100%;
        margin: 0 5px;

        h1 {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          letter-spacing: -0.5px;
          font-size: calc($baseFontSize - 0.1em);
        }
      }
    }
    .floater-title {
      width: 100%;
      height: 65%;
      margin-top: 1%;
      h1 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: calc($baseFontSize + 0.3em);
        font-weight: 600;
        @media all and (min-width: 768px) and (max-width: 1280px) {
          font-size: calc($baseFontSize + 0.1em);
        }
        @media all and (min-width: 0px) and (max-width: 768px) {
          font-size: calc($baseFontSize);
        }
      }
    }
  }
}

.main-card-info {
  display: none;
}

.main-banner-section-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50vh;
  z-index: 0;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  &.hide {
    opacity: 0;
  }
}

.main-banner-slider {
  display: flex;
  width: 500%; // 배너 개수
  height: 100%;
  transition: all 0.5s ease-in-out;
  transform: translateX(0);

  // overflow-x: auto;
  // scroll-snap-type: x mandatory;
  // -webkit-overflow-scrolling: touch;
  // scroll-behavior: smooth;

  .main-banner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;

    .banner-detail-filter {
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      position: absolute;
      height: 100%;
    }

    .banner-detail {
      width: 140%;
      z-index: 100;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        width: 80%;
        color: white;
        font-size: calc($baseFontSize + 2em);
        font-weight: 600;
        margin-bottom: 1.5%;
        transition: font-size 0.3s ease-in-out;
      }

      p {
        width: 50%;
        display: inline-block;
        font-size: calc($baseFontSize + 0.2em);
        color: rgba(255, 255, 255, 0.711);
      }

      @media all and (min-width: 768px) and (max-width: 1280px) {
        h1 {
          font-size: calc($baseFontSize) + 1.2em;
        }
        p {
          font-size: calc($baseFontSize);
        }
      }
      @media all and (min-width: 0px) and (max-width: 768px) {
        h1 {
          font-size: calc($baseFontSize + 0.5em);
        }
        p {
          font-size: calc($baseFontSize - 0.2em);
        }
      }
    }
  }
}

.prev,
.next,
.main-banner-trailer {
  z-index: 100;
  position: absolute;
}

.prev,
.next {
  width: 2rem;
  cursor: pointer;
  opacity: 0.2;
  transition: all 0.2s ease;

  &:hover {
    opacity: 1;
  }

  @media all and (min-width: 768px) and (max-width: 1280px) {
    width: 1.3em;
  }
  @media all and (min-width: 0px) and (max-width: 768px) {
    display: none;
  }
}
.prev {
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}

.next {
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}

.main-banner-trailer {
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3px;
  // text-align: center;

  div {
    border-top: 2px solid #fff;
    cursor: pointer;
    opacity: 0.3;
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.6;
    }
  }
}

.active {
  opacity: 1 !important;
}
