@import "../config/_variables";

body {
  position: relative;
}

//

.header {
  width: 100vw;
  height: 60px;
  opacity: 0;

  color: $white;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  position: fixed;
  top: 11px;
  z-index: 100;
  display: flex;

  @media all and (max-width: 768px) {
    display: block;
    left: -24px;
  }
}

.header-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.logo {
  font-family: $mainFont;
  position: absolute;
  left: 46px;
  font-size: 27px;
  letter-spacing: -1px;

  @media all and (max-width: 768px) {
    top: 12px;
  }
}

/** styling nav button **/

.nav__btn {
  z-index: 999;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 6px;
  left: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__btn--toggle {
  width: 85%;
  height: 85%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  color: white;
  background-color: transparent;
  text-align: center;
  transition: all 0.3s ease-in-out;
  @media all and (max-width: 768px) {
    display: block;
  }

  i {
    font-size: 32px;
  }
}
.nav__btn--toggle:hover {
  background-color: white;

  color: black;
  cursor: pointer;
}
.nav__btn--toggle.active {
  color: white;
  border-color: white;
}
.nav__btn--toggle.active:hover {
  background-color: white;
  color: black;
}

.nav__links {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  height: 9vh;
  width: 100vw;
  background-color: $dark;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  overflow-y: scroll;
  overflow-x: hidden;

  @media all and (max-width: 768px) {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }

  ul {
    display: flex;
    width: 680px;
    justify-content: space-evenly;
    li {
      list-style-type: none;
      padding: 0;
      margin: 0;
      text-align: center;
      overflow: hidden;

      a {
        font-family: $sans;
        font-size: 17px;
        line-height: 1.8;
        display: inline-block;
        color: white;
        font-weight: 800;
        opacity: 0;
        text-decoration: none;
        transform: translateY(75px);

        &:hover {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}

// .nav-btn,
// .nav-btn__svg {
//   width: 56px;
//   height: 30px;
// }

// .nav-btn {
//   display: block;
//   margin: -2px 0 0 56px;

//   @media all and (max-width: 768px) {
//     margin: 18px 0 0 -6px;
//   }
// }

// .nav-btn__svg {
//   pointer-events: none;
// }

//
