@import "../config/_variables";

.nav-update-checker {
  width: 350px;
  background-color: rgba(white, 0.25);
  backdrop-filter: blur(4px);
  z-index: 999999;
  height: 30px;
  position: fixed;
  bottom: 25px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: calc($baseFontSize - 0.2em);
  transition: opacity 1s $mainTransition;
  padding: 2px 15px;
  border-radius: 35px;
  font-weight: 500;

  @media all and (min-width: 768px) and (max-width: 1280px) {
    width: 400px;
    height: 35px;
    font-size: $baseFontSize;
  }
  @media all and (min-width: 0px) and (max-width: 768px) {
    width: 37px;
    height: 37px;
    .update-spinner {
      position: relative;
      right: 2.5px;
    }
  }

  .update-spinner {
    width: 20px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.7s $mainTransition;
    color: tomato;
    i {
      animation: spin 1s linear infinite;

      &.update-completed {
        animation: none;
        color: rgb(127, 255, 105);
      }
      @keyframes spin {
        0% {
          transform: rotate(0);
        }
        100% {
          transform: rotate(359deg);
        }
      }
    }
  }
  .exb-count {
    margin-left: 10px;
  }
  .last-updated,
  .exb-count {
    @media all and (min-width: 0px) and (max-width: 768px) {
      display: none;
    }
  }
}

.nav-container {
  width: 100%;
  height: 55px;
  position: fixed;
  top: 5px;
  z-index: 999999;
  color: white;
  display: flex;
  justify-content: center;

  transition: all 0.5s $mainTransition;

  @media all and (min-width: 768px) and (max-width: 1280px) {
    height: 45px;
  }
  @media all and (min-width: 0px) and (max-width: 768px) {
    height: 42px;
  }
  &.filter-clicked {
    background-color: transparent;

    box-shadow: none;

    .nav-logo,
    .nav-list-page {
      opacity: 0;
    }
  }
  &.main-card-clicked {
    opacity: 0;
  }
  &.scroll-down-intro {
    background-color: $dark;
  }
  &.scroll-down-main {
    border-radius: 65px;
    margin: 10px;
    width: 96%;
    background-color: white;

    box-shadow: 0 10px 18px 3px rgb(0, 0, 0, 0.1);
  }
  .nav-logo {
    width: 40px;
    height: 100%;
    position: absolute;
    left: 30px;
    display: flex;
    align-items: center;
    transition: opacity 0.3s $mainTransition;
    &:hover {
      transform: scale(1.07);
    }

    a {
      font-size: calc($baseFontSize + 0.05em);
      font-weight: 750;
      letter-spacing: 0.102em;
    }
    .main-logo {
      span {
        color: white;
        font-size: calc($baseFontSize + 0.2em);
      }
    }
  }

  .nav-list-page {
    height: 100%;
    margin-left: 22px;
    font-size: $baseFontSize;

    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 100px;
    transition: opacity 0.3s $mainTransition;
    @media all and (min-width: 0px) and (max-width: 768px) {
      margin-left: 10px;
    }
    &:hover {
      transform: scale(1.07);
    }
  }
}

.filter-container {
  width: 130px;
  height: 80%;
  top: 10%;

  z-index: 1000;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: $dark;
  position: relative;

  transition: all 0.6s $mainTransition, background-color 0.4s $mainTransition;
  padding: 0.5%;
  border-radius: 40px;

  // -webkit-backdrop-filter: blur(8px);
  // backdrop-filter: blur(8px);

  @media all and (min-width: 768px) and (max-width: 1280px) {
    width: 100px;
    left: 42%;
  }
  @media all and (min-width: 0px) and (max-width: 768px) {
    left: 33%;
    width: 80px;
  }
  &.main-card-clicked,
  &.hide {
    opacity: 0;
  }

  & > h1 {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 500;
    position: absolute;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }

  &.filter-container-clicked {
    background-color: transparent;
    top: -5px;
    width: 460px;
    height: 280%;

    @media all and (min-width: 768px) and (max-width: 1280px) {
      top: 10%;
      width: 430px;
      height: 270%;
      left: 0;
    }
    @media all and (min-width: 0px) and (max-width: 768px) {
      left: 0;
      top: 10%;
      width: 400px;
      height: 300%;
    }
    & > h1 {
      opacity: 0;
    }

    .filter-list {
      transform: none;
      opacity: 1;
    }
  }

  .filter-list {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: scale(0.5) translateY(80px);
    transition: all 0.4s ease-in-out;

    .filter-list-search,
    .filter-list-category {
      width: 100%;
      height: 100%;

      display: flex;

      align-items: center;
      justify-content: center;
      position: relative;
      padding: 2% 0;
    }
    .filter-list-search {
      input {
        font-size: 16px;
        width: 80%;
        height: 100%;
        outline: none;
        border: none;
        border-radius: 55px;
        padding: 0 5%;
        box-shadow: 0 10px 18px 3px rgb(0, 0, 0, 0.13);
        transition: background-color 0.5s $mainTransition;
        @media all and (min-width: 768px) and (max-width: 1280px) {
          box-shadow: 0 10px 18px 3px rgb(0, 0, 0, 0.08);
        }
        @media all and (min-width: 0px) and (max-width: 768px) {
          box-shadow: 0 10px 18px 3px rgb(0, 0, 0, 0.08);
        }
        &:focus {
          background-color: $dark;
          color: white;
          & ~ .option-search i {
            color: white;
          }
        }
      }
      .option-search {
        height: 100%;
        display: flex;
        align-items: center;
        position: absolute;
        right: 12%;

        div {
          width: 25px;
          height: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          color: $dark;
          &.option-clicked {
            i {
              color: tomato;
              transform: scale(1.1);
            }
          }
        }

        i {
          transition: 0.2s ease-in-out;
          will-change: transform;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
    .filter-list-category {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2% 10%;
      h1 {
        @media all and (min-width: 768px) and (max-width: 1280px) {
          font-size: calc($baseFontSize);
        }
        @media all and (min-width: 0px) and (max-width: 768px) {
          font-size: 16px;
        }
      }
      .option-all,
      .option-museum,
      .option-gallery {
        color: $dark;
        cursor: pointer;
        box-shadow: 0 10px 18px 3px rgb(0, 0, 0, 0.13);
        width: 30%;
        height: 100%;
        background-color: white;
        border-radius: 70px;
        display: none;
        justify-content: center;
        align-items: center;
        display: flex;
        will-change: transform;
        transition: all 0.2s ease-in-out;
        @media all and (min-width: 768px) and (max-width: 1280px) {
          box-shadow: 0 10px 18px 3px rgb(0, 0, 0, 0.08);
        }
        @media all and (min-width: 0px) and (max-width: 768px) {
          box-shadow: 0 10px 18px 3px rgb(0, 0, 0, 0.08);
        }
        &:hover {
          transform: scale(1.03);
        }

        .option-icon-box {
          width: 25px;
          height: 25px;
          display: flex;
          justify-content: center;
          align-items: center;

          i {
            @media all and (min-width: 768px) and (max-width: 1280px) {
              transform: scale(0.9);
            }
            @media all and (min-width: 0px) and (max-width: 768px) {
              transform: scale(0.8);
            }
          }
        }
      }
      .option-all,
      .option-museum,
      .option-gallery {
        &.option-clicked {
          transform: scale(1.03);
          background-color: tomato;
          color: white;
        }
      }
    }
  }
}
