link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet")
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
link(href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet")
link(rel="stylesheet", href="/static/css/layout.css")
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
link(rel="stylesheet", href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css")
link(rel="stylesheet" href="https://unpkg.com/@kfonts/nexon-lv2-gothic-otf/index.css")
link(href="http://fonts.cdnfonts.com/css/gotham" rel="stylesheet")
link(href="http://fonts.cdnfonts.com/css/qanelas-soft" rel="stylesheet")
                