script(src="http://code.jquery.com/jquery-3.5.1.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/2.1.9/jquery.mixitup.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/2.1.9/jquery.mixitup.min.js")
script(src="https://kit.fontawesome.com/e093c32855.js" crossorigin="anonymous")
script(src="/static/js/layout.js")
script(src="/static/js/nav.js")
script.
    $(window).on("load", function () {
        $("#loader").fadeOut();
    });
 