link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="stylesheet", href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css")
link(rel="stylesheet" href="https://unpkg.com/@kfonts/nexon-lv2-gothic-otf/index.css")
//- link(href="https://fonts.cdnfonts.com/css/qanelas-soft" rel="stylesheet")
link(rel="stylesheet", href="/static/css/layout.css")
//- link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

                