script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollToPlugin.min.js" integrity="sha512-nTHzMQK7lwWt8nL4KF6DhwLHluv6dVq/hNnj2PBN0xMl2KaMm1PM02csx57mmToPAodHmPsipoERRNn4pG7f+Q==" crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/2.1.9/jquery.mixitup.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/2.1.9/jquery.mixitup.min.js")
script(src="https://kit.fontawesome.com/e093c32855.js" crossorigin="anonymous")
script(src="/static/js/layout.js")
script(src="/static/js/nav.js")
script.
    $(window).on("load", function () {
        $("#loader").fadeOut();
    });
 