extends layout

block links
    link(rel="stylesheet", href="/static/css/intro.css")

block content
    .intro-page
        h1 인트로 페이지는 현재 제작중입니다.<br><a href="/main">메인페이지</a>로 이동해주세요!
        
block scripts
    script(src="/static/js/intro.js")