include mixins/main-logo

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(http-equiv="Content-Security-Policy" content="upgrade-insecure-requests")
        meta(name="viewport", content="width=device-width, initial-scale=1.0", maximum-scale=1.0, user-scalable=0)
        head
            include baseLinks
            block links 
        title #{pageTitle} | MUG
    body 
        //- script(src="http://code.jquery.com/jquery-3.5.1.min.js")
        .main-card-cursor
            .cursor-info-hall
            .cursor-info-title 
            .cursor-info-date-and-country
                .cursor-info-date
                .cursor-info-country 
        include partials/loader
        include partials/nav
        
        main 
            
            block content
            
        
        include partials/footer
        include baseScripts
        block scripts