include mixins/printInfo

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
    body 
        ul 
            h1 British Museum
            +printInfo(allPlaceInfo)
            //- h1 Cincinnati Museum
            //- +printInfo(allPlaceInfo.us_cincinnatiInfo)
            //- h1 Pompidou Museum
            //- +printInfo(allPlaceInfo.fr_pompidouInfo)
            //- h1 London National Gallery
            //- +printInfo(allPlaceInfo.uk_londonNatlInfo)
            //- h1 Wien Museum
            //- +printInfo(allPlaceInfo.at_wienInfo)
            //- h1 Prado Museum
            //- +printInfo(allPlaceInfo.es_pradoInfo)
            //- h1 Orsay Museum
            //- +printInfo(allPlaceInfo.fr_orsayInfo)
            //- h1 Lodin Museum
            //- +printInfo(allPlaceInfo.fr_lodinInfo)
            //- h1 Art Institute of Chicago
            //- +printInfo(allPlaceInfo.us_chicagoInfo)
            //- h1 Boston Gallery
            //- +printInfo(allPlaceInfo.us_bostonInfo)
            //- h1 ARS ELECTRONICA
            //- +printInfo(allPlaceInfo.at_arsElectronicaInfo)
            //- h1 Belvedere
            //- +printInfo(allPlaceInfo.at_belvedereInfo)
            //- h1 Thyssen bornemisza
            //- +printInfo(allPlaceInfo.es_thyssenInfo)
            //- h1 Museo Automovilistico & de la Moda
            //- +printInfo(allPlaceInfo.es_malagaAutomovilInfo)
            //- h1 Galleria degli Uffizi
            //- +printInfo(allPlaceInfo.it_uffiziInfo)
            //- h1 Palazzo Ducale
            //- +printInfo(allPlaceInfo.it_ducaleInfo)
            
            