include mixins/printInfo

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
    body 
        ul 
            h1 British Museum
            +printInfo(uk_britishInfo)
            h1 Cincinnati Museum
            +printInfo(us_cincinnatiInfo)
            h1 Pompidou Museum
            +printInfo(fr_pompidouInfo)
            h1 London National Gallery
            +printInfo(uk_londonNatlInfo)
            h1 Wien Museum
            +printInfo(at_wienInfo)
            h1 Prado Museum
            +printInfo(es_pradoInfo)
            
            