extends layout
include mixins/mainCard

block links
    link(rel="stylesheet", href="/static/css/main.css")
    
block content
    .main-banner-section-container
    .main-card-section-container
        - for (let exb of allExbs) {
            if exb.category === "Museum"
                .mix.filter-museum(class=`${(exb.country).split(' ').join('')}`)
                    +mainCard(exb, "museum")
            else if exb.category === "Gallery"
                .mix.filter-gallery(class=`${(exb.country).split(' ').join('')}`)
                    +mainCard(exb, "gallery")
        - }

block scripts
    script(src="/static/js/main.js")
   
        