extends layout
include mixins/mainSectionCard

block links
    link(rel="stylesheet", href="/static/css/mainFilter.css")
    
block content
    .filter-container
        - for (let exb of allExbs) {
            if exb.category === "museum"
                .mix.museum 
                    +mainSectionCard(exb)
            else if exb.category === "gallery"
                .mix.gallery
                    +mainSectionCard(exb)
        - }

block scripts
    script(src="/static/js/mainFilter.js")
   
        