include mixins/printInfo

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
    body 
        ul 
            h1 游비 AT. Austria 游비
            +printInfo(at)
            h1 游비 ES. Spain 游비
            +printInfo(es)
            h1 游비 FR. French 游비 
            +printInfo(fr)
            h1 游비 IT. Italy 游비
            +printInfo(it)
            h1 游비 UK. United Kingdom 游비
            +printInfo(uk)
            h1 游비 US. United States 游비
            +printInfo(us)
            h1 游비 KR. Republic of Korea 游비
            +printInfo(kr)
            h1 游비 JP. Japan 游비
            +printInfo(jp)
            h1 游비 GR. Greece 游비
            +printInfo(gr)
            h1 游비 CZ. Czech 游비
            +printInfo(cz)
            h1 游비 RU. Russia 游비
            +printInfo(ru)