include mixins/printInfo

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
    body 
        ul 
            h1 <<< AT. Austria >>>
            +printInfo(at)
            h1 <<< ES. Spain >>>
            +printInfo(es)
            h1 <<< FR. French >>> 
            +printInfo(fr)
            h1 <<< IT. Italy >>>
            +printInfo(it)
            h1 <<< UK. United Kingdom >>>
            +printInfo(uk)
            h1 <<< US. United States >>>
            +printInfo(us)
            h1 <<< KR. Republic of Korea >>>
            +printInfo(kr)
            
            