extends layout
include mixins/mainSectionCard

block links
    link(rel="stylesheet", href="/static/css/main.css")

block content
    section.mainSection__header
        //- h1.header-text h1텍스트h1텍스트h1텍스트h1텍스트
        
    .mainSection__contents-container
        .mainSection__col
            - for (let exbInfo of cols.col1) {
                +mainSectionCard(exbInfo[0])
            - }
        .mainSection__col
            - for (let exbInfo of cols.col2) {
                +mainSectionCard(exbInfo[0])
            - }
        .mainSection__col
            - for (let exbInfo of cols.col3) {
                +mainSectionCard(exbInfo[0])
            - }
        .mainSection__col
            - for (let exbInfo of cols.col4) {
                +mainSectionCard(exbInfo[0])
            - }
        .mainSection__col
            - for (let exbInfo of cols.col5) {
                +mainSectionCard(exbInfo[0])
            - }
            

block scripts
    script(src="/static/js/main.js")