include mixins/printInfo

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
    body 
        ul 
            h1 British Museum
            +printInfo(britishMsmInfo)
            //- h1 Louvre Museum
            //- +printInfo(louvreMsmInfo)
            h1 Cincinnati Museum
            +printInfo(cincinnatiInfo)
            h1 Pompidou Museum
            +printInfo(pompidouMsmInfo)
            h1 London National Gallery
            +printInfo(londonNatlInfo)
            h1 Wien Museum
            +printInfo(wienMsmInfo)
            h1 Prado Museum
            +printInfo(pradoMsmInfo)
            
            