extends layout
include mixins/mainSectionCard


block links
    link(rel="stylesheet", href="/static/css/show.css")
    

block content
    section.mainSection__header
        //- h1.header-text h1텍스트h1텍스트h1텍스트h1텍스트
    
    .mainSection__contents-container
        .mainSection__col
            - for (let exbInfo of allCols.col1) {
                +mainSectionCard(exbInfo[0])
            - }
        .mainSection__col
            - for (let exbInfo of allCols.col2) {
                +mainSectionCard(exbInfo[0])
            - }
        .mainSection__col
            - for (let exbInfo of allCols.col3) {
                +mainSectionCard(exbInfo[0])
            - }
        .mainSection__col
            - for (let exbInfo of allCols.col4) {
                +mainSectionCard(exbInfo[0])
            - }
        .mainSection__col
            - for (let exbInfo of allCols.col5) {
                +mainSectionCard(exbInfo[0])
            - }
    

block scripts
    script(src="/static/js/show.js")
   
        