header.header
    .logo WoExb
    a.nav-btn(href='')
        svg.nav-btn__svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 56 30')
            rect.nav-rect(width='40' height='2' x='8' y='8' fill='#ffffff')
            rect.nav-rect(width='40' height='2' x='8' y='14' fill='#ffffff')
            rect(width='40' height='2' x='8' y='20' fill='#ffffff')
