header.header
    .header-wrapper
        .logo WoExb
        .nav__btn
            .nav__btn--toggle
                i.material-icons menu

        .nav__links
            ul
                li
                    a(class="nav__link", href="/") Trends
                li
                    a(class="nav__link", href="/main") Main 
                li
                    a(class="nav__link", href="") Museum
                li
                    a(class="nav__link", href="") Gallery
    //- a.nav-btn(href='')
    //-     svg.nav-btn__svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 56 30')
    //-         rect.nav-rect(width='40' height='2' x='8' y='8' fill='#ffffff')
    //-         rect.nav-rect(width='40' height='2' x='8' y='14' fill='#ffffff')
    //-         rect(width='40' height='2' x='8' y='20' fill='#ffffff')
