nav.nav
    .nav__container
        .logo
            a(href="#") WoExb
        .nav__list-container
            ul.nav__list
                li
                    a(href="") Trends
                li
                    a(href="") Main
                li
                    a(href="") Abcabc
                li
                    a(href="") Abcabc
        span.navTrigger
            i
            i
            i