.nav
    .nav-logo 
        span WoExb
    .nav__item-wrapper
        .nav__item.item-search-wrapper
            include searchBar
        .nav__item.nav__item-trends
            .nav__item-text
                a(href="/") Trends
            .nav__item-content-box.single-01
                .nav__item-content
                    .nav__item-content-wrapper
                        .title Trend Exibitions
                        .sub-text Check out the latest updated exhibition
        .nav__item.nav__item-main
            .nav__item-text
                a(href="/main") Main
            .nav__item-content-box.double
                .nav__item-content 
                    .nav__item-content-wrapper
                        .title All Exibitions
                        .sub-text Get all the exhibition information
                .nav__item-content
                    .nav__item-content-wrapper
                        .title Detail Informations
                        .sub-text Get detailed exhibition information
        .nav__item.nav__item-filter
            .nav__item-text
                a(href="/main/filter") Filter
            .nav__item-content-box.triple
                .nav__item-content.top-container
                    .nav__item-content-wrapper
                        .title Exibition Filter
                        .sub-text Just look for the results you want
                .nav__item-content-gridbox
                    h3 Category
                    a.filter(data-filter="all") All
                    a.filter(data-filter=".museum") Museum
                    a.filter(data-filter=".gallery") Gallery 
                    a.filter(data-filter="") 
                
                .nav__item-content-gridbox
                    h3 Search Filter
                    ul
                        li
                            input.radio-btn#r1(type="radio", name="radio", value="Title", checked)
                            label.radio-label(for="r1") Title
                        li
                            input.radio-btn#r2(type="radio", name="radio", value="Hall")
                            label.radio-label(for="r2") Hall Name
                    
                    a(href="#") 
                    a(href="#") 
                .nav__item-content-gridbox
                    h3 Country
                    a(href="#") A
                    a(href="#") B
                    a(href="#") C
                    a(href="#") D
                .nav__item-content-gridbox
                    h3 .
                    a(href="#") A
                    a(href="#") B
                    a(href="#") C
                    a(href="#") D
        .nav__item
            .nav__item-text
                a(href="#") Navnav
            .nav__item-content-box.single-02
                .nav__item-content
                    .nav__item-content-wrapper
                        .title F
                        .sub-text Join
        