nav.nav
    .nav__container
        .logo
            a(href="/") WoExb
        .nav__list-container
            ul.nav__list.programs
                li
                    span Trends
                li
                    span Main
                li
                    span Museum
                li
                    span.toggle-gallery Gallery
        span.navTrigger
            i
            i
            i