nav.nav
    .nav__container
        .logo
            a(href="#") WoExb
        .nav__list-container
            ul.nav__list
                li
                    span Trends
                li
                    span Main
                li
                    span Abcabc
                li
                    span Abcabc
        span.navTrigger
            i
            i
            i