nav.nav
    .nav__container
        .logo
            a(href="/") WoExb
        .nav__list-container
            ul.nav__list
                li
                    span Trends
                li
                    span Main
                li
                    span Museum
                li
                    span Gallery
        span.navTrigger
            i
            i
            i