.nav-container 
    .nav-logo M U G
    .nav-list-container 
        //- .nav-list Intro
        //- .nav-list Main

.filter-container.hide
    h1 FILTER
    .filter-list
        .filter-list-title Search
        .filter-list-search
            input.filter-search-bar(type="text", placeholder="Search Title")
            .option-search
                .option-title.option-clicked
                    i.fa-solid.fa-t
                .option-hall 
                    i.fa-solid.fa-landmark-dome
                .option-country
                    i.fa-solid.fa-earth-americas
    .filter-list
        .filter-list-title Category 
        .filter-list-category
            .option-all.option-clicked.filter(data-filter="all")
                .option-icon-box
                    i.fa-solid.fa-border-all
                h1 All
            .option-museum.filter(data-filter=".filter-museum")
                .option-icon-box
                    i.fa-solid.fa-building-columns
                h1 Museum
            .option-gallery.filter(data-filter=".filter-gallery")
                .option-icon-box
                    i.fa-solid.fa-palette
                h1 Gallery
        
